.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.grid {
  display: grid;
  height: 320px;
  width: 400px;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.game-result {
  display: flex;
  align-items: center;
}

.modes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: fit-content;
}

button {
  padding: 20px 36px;
  border-radius: 16px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(47, 88, 254);
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(12, 12, 252);
  scale: 1.1;
  transition: 0.5s;
}

p {
  margin-top: 8px;
  margin-bottom: 32px;
  font-size: 20px;
}


h1 {
  margin: 8px;
}

.grid-cell {
  border-radius: 8px;

}

.grid-cell:hover {
  cursor: pointer;
}

.result {
  font-size: 40px;
}